.admin-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
}

.admin-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.admin-section {
  margin-bottom: 40px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-form input,
.admin-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-form button {
  padding: 10px 20px;
  background-color: #20003a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-form button:hover {
  background-color: #fdba21;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 350px;
  height: auto;
  border-radius: 5px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}