.login-container {
  display: flex;
  justify-content: center;
  background: url('C:\Users\joaop\OneDrive\Área de Trabalho\AURA\aura-cloth\public\images\backproduto.png') no-repeat center center fixed;
  background-size: cover; /* Garante que a imagem cubra toda a área */
  align-items: center;
  height: 100vh;
}

.login-box {
  background: rgba(255, 255, 255, 0.224); /* Fosco e translúcido */
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.login-title {
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-form-group input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #20003a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #fdba21;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #20003a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}